body{
    max-width: 1000px;
    min-width: 700px;
    font-family: 'Roboto', sans-serif;
}

.header-blue{
    color:#3E45E8;
}

.header-yellow{
    color:#E8C23E;
}

.header{
    font-size: 40px;
    font-family: 'M PLUS 1', sans-serif;
    text-align: center;
    text-transform: uppercase;
}
.header2{
    margin-left: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.line{
    width: 25%;
}

.content{
    margin-left: 25px;
    margin-right: 25px;
}

.content > div{
    width: 275px;
    height: 350px;
    border: 3px solid #0D095F;
    border-radius: 30px;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
}

#block1{
    box-shadow: -10px 10px 20px cyan;
}

#block2{
    box-shadow: 0px 10px 20px cyan;
}

#block3{
    box-shadow: 10px 10px 20px cyan;
}

.image{
    width: 275px;
    border-radius: 30px 30px 10px 10px;
}
.text-blue{
    color:#0072DB;
    margin-left: 10px;
}
.text-yellow{
    color:#FF9900;
    margin-left: 10px;
}

.centered{
    text-align: center;
}

.ukraine-image{
    width: 70%;
}

.underlined{
    border-bottom: 2px solid #1400FF;
    width: 350px;
    margin: auto;
    margin-bottom: 25px;
}

.button{
    width: 300px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-transform: uppercase;
    border: 1px solid #2A61F0;
    border-radius: 50px;
    background-color: #2A61F0;
    color: white;
    font-size: 40px;
}

.footer{
    background-color: #0D0661;
    text-align: center;
    font-size: 20px;
}

.footer-blue{
    text-transform: uppercase;
    color: #3E45E8;
    font-size: 36px;
    font-family: 'Marcellus', serif;
}

.footer-yellow{
    text-transform: uppercase;
    color:#DFE31E;
    font-size: 36px;
    font-family: 'M PLUS 1', sans-serif;
}

.refstyle{
    color: #A89D9D;
    font-family: 'M PLUS 1', sans-serif;
}

.linkimage{
    width: 30px;
    margin: 10px;
}